.first-screen {
    height: 100vh;
    .container {
        display: flex;
        justify-content: center;
    }
    &__wrapper {
        width: 65%;
        padding-top: 287px;
    }
    &__subtitle {
        padding: 32px 0;
        font-size: 88px;
        line-height: 100px;
    }
    &__down {
        color: white;
        display: inline-flex;
        gap: 16px;
        text-decoration: none !important;
        span {
            background: linear-gradient(var(--main-color) 0 0) 0 100% /var(--d, 0) 2px no-repeat;
            transition:0.5s;
        }
        &:hover span {
            text-decoration: none;
            color: var(--main-color);
            --d: 100%;
            margin-right: 10px;
        }
    }
}