.mobilemenu {
    display: none;

    nav {
        ul {
            margin-bottom: 0;
            display: flex;
            list-style-type: none;
            gap: 40px;
            li {
                a {
                    color: white;
                    padding: 8px;
                }
            }
        }
    }

    &__login {
        color: white;
        padding: 8px;
    }

    .hamburger {
        display: none;
    }
}

