@media (max-width: 1440px) {
    .first-screen {
        &__subtitle {
            font-size: 70px !important;
            line-height: 80px !important;
        }
    }
}

@media (max-width: 1200px) {
    .first-screen {
        &__subtitle {
            padding: 25px 0;
            font-size: 64px !important;
            line-height: 75px !important;
        }
    }
}

@media (max-width: 992px) {
    .first-screen {
        &__subtitle {
            font-size: 60px !important;
            line-height: 70px !important;
        }
    }
}

@media (max-width: 768px) {
    .first-screen {
        &__subtitle {
            font-size: 50px !important;
            line-height: 60px !important;
        }

        .title {
            padding-left: 76px;

            &::before {
                width: 60px;
            }
        }
    }
}

@media (max-width: 576px) {
    .first-screen {
        &__subtitle {
            font-size: 40px !important;
            line-height: 50px !important;
        }
        &__wrapper {
            padding-top: 190px;
        }

        .title {
            padding-left: 50px;
            font-size: 14px;
            letter-spacing: 3px;

            &::before {
                width: 40px;
            }
        }
    }
}