@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .popup {
        &__wrapper {
            width: 450px;
            height: 250px;
        }
        form {
            gap: 0;
        }
    }
}

@media (max-width: 768px) {
    .popup {
        &__wrapper {
            width: 350px;
        }
        form {
            margin-top: 0;
        }
    }
}

@media (max-width: 576px) {
    .popup {
        &__wrapper {
            width: 65%;
        }
        &__button {
            margin-top: 15px;
        }
    }
}