@media (max-width: 1440px) {
    .background {
        &-3 {
            left: 0%;
        }
    }
}

@media (max-width: 1200px) {
    .background {
        &-3 {
            left: 10%;
        }
    }
}

@media (max-width: 992px) {
    .background {
        &-3 {
            left: 20%;
        }
    }
}

@media (max-width: 768px) {
    .background {
        &-3 {
            left: 30%;
        }
    }
}

@media (max-width: 576px) {
    .background {
        &-3 {
            left: 55%;
        }
    }
}